main {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, auto); 
    gap: 10px;
}
main article {
    background-color: rgb(25, 25, 25); 
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}
nav {
    display: flex;
}